{
    "env":{
        "browser": true
    },
    "extends": [
        
      "airbnb", 
      "prettier",
      "prettier/react"
    
    ],

    "rules": {
        "import/prefer-default-export":0,
        "import/no-extraneous-dependencies": 0,
        "import/no-named-as-default": 0,
        "import/no-unresolved":0,
        "import\no-named-as-default": 0,
        "react/jsx-filename-extension": [
            1, 
            {
                "extensions": [".js"]
            }
        ]
        //"react/jsx-max-props-per-line": [1, { "maximum": 1, "when": "always" }]
    }   ,


    "settings": {
        "import/resolver": {
            "node" : {
                "paths":["./src"],
                "extensions":[".js",".jsx",".ts",".tsx"]
            }
        }
    }
}